  background-color: #4686a0;

@media (max-width: 1470px) {
  .step::before {
    left: -120px;
    width: 120px;
  }
}
@media (max-width: 1300px) {
  .step::before {
    left: -100px;
    width: 100px;
  }
}
@media (max-width: 1252px) {
  .step::before {
    left: -80px;
    width: 80px;
  }
}
@media (max-width: 1144px) {
  .step::before {
    left: -50px;
    width: 50px;
  }
}
@media (max-width: 1030px) {
  .step::before {
    left: -30px;
    width: 30px;
  }
}
@media (max-width: 954px) {
  .my-container {
    margin: 0;
  }





      left: -140px;
    width: 161px