<!DOCTYPE html>
<html>
  <head>
    <title>Negar's Portfolio</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="static/assets/css/noscript.css"
    /></noscript>
    <script
      src="https://kit.fontawesome.com/ad7f1ccdf7.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <!-- Header -->
      <!--navbar-->
<div id="main_background">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{url_for('home')}}"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#three">Projects</a>
        </div>
      </div>
    </nav>
<!--main header section-->
    <section id="header">

      <div class="inner">
        <h1 style="font-size: 64px">Hi, I'm Negar</h1>
        <p style="font-size: 24px">I'm a python developer</p>
        <ul class="actions special">
          <li><a href="#one" class="button scrolly">Discover More</a></li>
        </ul>
      </div>
    </section>
      </div>
    </div>

    <!-- One -->
    <section id="one" class="main style1">
      <div class="container">
        <div class="row gtr-150">
          <div class="col-6 col-12-medium">
            <header class="major">
              <h2>My Skills</h2>
            </header>
            <p>
              I am a passionate and versatile developer with experience in
              <strong>Python</strong>, <strong>HTML</strong>, and
              <strong>CSS</strong>, along with practical knowledge of
              <strong>Linux</strong> and
              <strong>Telegram bot development</strong>. I have built several
              <strong>Telegram bots</strong> using Python, automating tasks and
              providing unique functionalities to users.
            </p>
          </div>
          <div class="col-6 col-12-medium imp-medium">
            <span class="image fit"><img src="static/images/img1.png" alt="" /></span>
          </div>
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="main style2">
      <div class="container" id="section2-container">
        <div class="row">
          <div class="col-md section2-text-1" >
            <span style="color:#b8f5ff"><em>Step-by-step </em></span>
            break down of the project
          </div>
          <div class="col-md" style="color:	#64c2ec;font-size: 20px;">
            Each step in the process is meticulously planned and executed to ensure the highest quality output. From initial research to final testing, every phase plays a crucial role in delivering a successful project.
          </div>
        </div>
      </div>
      <div class="my-container">
        <div class="step">Research</div>
        <div class="step">Wireframing</div>
        <div class="step">Design</div>
        <div class="step">Development</div>
        <div class="step">Testing</div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="main style1 special">
      <div class="container">
        <header class="major">
          <h2>Have a look at my works</h2>
        </header>
        <div class="row gtr-150">
          <div class="col-4 col-12-medium">
            <span class="image fit"
              ><img src="static/images/morse_code.png" alt=""
            /></span>
            <h3>Telegram Bot: Cypher and Decipher Morse Code</h3>
            <ul class="actions special">
              <li><a href="#" class="button">Test it out</a></li>
            </ul>
          </div>
          <div class="col-4 col-12-medium">
            <span class="image fit"><img src="static/images/watermark_img.jpg" alt="watermark_img" /></span>
            <h3>Photo watermark</h3>
            <p>
             Add your own text as a watermark to your pictures and protect them from copyright concerns.</p>
            <ul class="actions special">
              <li><a href="{{url_for('watermark')}}" class="button">Test it out</a></li>
            </ul>
          </div>
          <div class="col-4 col-12-medium">
            <span class="image fit"><img src="static/images/breakout.jpg" alt="" /></span>
            <h3>Breakout Game</h3>
            <p>
             Experience the nostalgic breakout game
            </p>
            <ul class="actions special">
              <li><a href="{{url_for('breakout')}}" class="button">Test it out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="main style2 special">
      <div class="container">
        <header class="major">
          <h2>Any questions?&nbsp;</h2>
        </header>
        <p>Don't hesitate to ask </p>
        <ul class="actions special">
          <li><a href="#" class="button wide primary">Contact me</a></li>
          <li><a href="#" class="button wide">More Projects</a></li>
        </ul>
      </div>
    </section>

    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        &nbsp;
        <li>
          <a href="#" class="icon brands alt fa-instagram"
            ><span class="label">Instagram</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands alt fa-github"
            ><span class="label">GitHub</span></a
          >
        </li>
        <li>
          <a href="#" class="icon solid alt fa-envelope"
            ><span class="label">Email</span></a
          >
        </li>
      </ul>
      <ul class="copyright">
        <li>© NegarToorany</li>
      </ul>
    </section>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9ScQgJ4ERy65eCvNUzTQ5hxYFYfN6JHG8JOK" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
